
# --- PostgreSQL ------
spring.datasource.username=YourDataBaseUserName
spring.datasource.password=YourDataBasePassword

# ----- Security -------
jwt.access-token.secret=AccessTokenSecretSignatureStringAtLeast32CharactersLong
# in milliseconds, here 1 hour:
jwt.access-token.expiration=3600000
jwt.refresh-token.secret=RefreshTokenSecretSignatureStringAtLeast32CharactersLong
# in milliseconds, here 1 day:
jwt.refresh-token.expiration=86400000

# ----- Reset-Password -----
jwt.password-reset-token.secret=PasswordResetTokenSecretSignatureStringAtLeast32CharactersLong
# in milliseconds, here 30 minutes:
jwt.password-reset-token.expiration=1800000
# base URL for password reset links
app.password-reset.base-url=https://yourfrontend.com/reset-password

# ----- Mailing ------
spring.mail.host=smtp.example.com
spring.mail.username=YourUserName@example.com
spring.mail.password=YourApplicationPassword
